// Sidebar
$left-margin: 50px;

.sidebar {
  width: 275px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transform: translateX(-275px);
  transition: transform 0.3s ease-in-out;
  h1 {
    font-size: 22pt;
    text-transform: uppercase;
    letter-spacing: -0.04em;
  }
  ul {
    padding-top: 15px;
    flex: 1;
    border-right: 1px solid $grey;
    background-color: white;
  }
  &.open {
    transform: none;
  }
}

.sidebar-list {
  padding: 12px $left-margin;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  &:hover {
    background-color: $light-grey;
    color: $light-blue;
  }
}

#newListInput {
  margin: 12px $left-margin;
  width: calc(100% - 80px);
  padding: 3px 0px 3px 3px;
  &:focus {
    @include glow;
  }
}

.lists-title {
  position: relative;
  background-color: $light-blue;
  border-top-right-radius: 5px;
  color: white;
  font-weight: 700;
  padding: 20px 50px;
  .add-button {
    position: absolute;
    right: 50px;
    top: 15px;
    background-color: white;
    color: $light-blue;
    &:hover {
      background-color: $light-grey;
      cursor: pointer;
    }
  }
}

#toggleSidebar {
  color: white;
  background-color: $light-blue;
  border-radius: 50%;
  padding: 4px;
  rotate: 180deg;
  transition: rotate 0.3s ease-in-out;
  &.open {
    rotate: none;
  }
  &:hover {
    opacity: 0.8;
  }
  &::selection {
    background: none;
  }
}