.task-info {
  display: flex;
  flex-direction: column;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 20px;
  li {
    margin: 5px;
    color: white;
    padding: 2px 10px;
    border-radius: 12px;
    min-width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .tag-text {
      font-size: 11pt;
      padding-right: 5px;
    }
  }
}

#addTag {
  border: 1px solid $grey;
  color: black;
  justify-content: center;
  width: 100px;
  &:hover {
    cursor: pointer;
    background-color: $light-grey;
  }
}

.remove-tag {
  height: 20px;
  padding-left: 5px;
  border: none;
  background-color: inherit;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  font-size: 12pt;
  color: white;
  &:hover {
    cursor: pointer;
  }
}

.task-input {
  margin: 20px 25px 0;
  border: none;
  border-bottom: 1px solid $grey;
  width: calc(100% - 50px);
  &::placeholder {
    color: $grey;
    opacity: 1;
  }
}

#due {
  background: none;
  text-align: start;
  color: $grey;
  padding: 0 5px;
  &:hover {
    cursor: pointer;
  }
  &.set {
    color: $light-blue;
  }
}

textarea {
  overflow: auto;
  resize: vertical;
  height: 365px;
  background-color: $light-grey;
  border-radius: 5px;
  padding: 10px;
  resize: none;
  z-index: 1;
  &:focus {
    @include glow;
  }
}

.task-buttons {
  margin: 0 25px 0;
  position: relative;
}

.task-button {
  width: 100px;
  height: 40px;
  font-size: 14pt;
  background-color: $light-blue;
  color: white;
  border: none;
  border-radius: 0 0 5px 5px;
  transition: background-color 0.2s;
  position: absolute;
  top:-40px;
  right: 5px;
  transition: top 0.2s;
  &:hover {
    @include hover($light-blue);
  }
  &.active {
    top:0;
  }
}
